@font-face {
    font-family: "Klavika";
    src: url("./Klavika-Regular.ttf");
}

* {
    font-family: "Klavika", sans-serif;
    font-weight: normal;
}

select {
    border: 2px solid #3c3d3e;
    color: #9d9d9d;
    background-color: #191919;
    padding: 10px;
    width: 250px;
}

label {
    color: white;
    margin-right: 10px;
}